header {
background-color:cornsilk;
}

body {
/* background-color: cornsilk; */
background-image: "server/public/styles/images/floral.jpg";
}

footer {
background-color: darkseagreen;
}

h1 {
color:blueviolet;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkblue;
}

/* #tasksInput { }*/

#inputDiv {
    /* background-color:beige; */
    border-style: dotted 20px;
    text-align: center;
}

#tasksList {
    background-color:aquamarine;
}

#submit {
    background-color: cornflowerblue;
}